/* HEADING STYLING */
.header {
   display: flex;
   flex-direction: column;
   position: relative;
   height: 557px;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(
         to left,
         rgba(57, 40, 32, 0.4),
         rgba(57, 40, 32, 0.4)
      ),
      url(../img/hero.jpg);
   background-position: top center;
   background-size: cover;
   width: 100%;
   padding: 40px 47px;
}

.header h1 {
   font-family: "Montserrat", sans-serif;
   width: 100%;
   font-style: normal;
   font-weight: 900;
   font-size: 4rem;
   text-align: center;
   padding: 2px;
   color: #ffffff;
}

.header__nav {
   position: absolute;
   top: 25px;
   display: flex;
   z-index: 2;
   font-family: "Montserrat", sans-serif;
   color: white;
   text-align: center;
   width: 99%;
   padding-right: 30px;
   padding-left: 30px;
}

.header__nav h4 {
   width: 90px;
   display: inline-block;
   margin-right: 10px;
   font-weight: 900;
   border: 4px solid #ffffff;
   padding: 5px;
}

.header__nav ul {
   width: calc(100% - 90px);
   list-style: none;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.header__nav ul li:not(:last-child) {
   margin-right: 12px;
}

.header__nav ul li a {
   display: inline-block;
   color: white;
   text-decoration: none;
   font-weight: 500;
   font-size: 16px;
}

.header__nav ul li a:hover {
   color: rgb(236, 227, 227);
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
}

/* GALLERY STYLING */
.gallery {
   background: white;
   width: 100%;
   margin-top: 79px;
   margin-bottom: 79px;
}

.gallery__header {
   width: 100%;
   padding: 10px;
   text-align: center;
}

.gallery__header h2 {
   font-family: "Montserrat", sans-serif;
   font-size: 2rem;
   color: #cc8644;
}

.gallery__header .light {
   font-weight: 100;
}

.gallery__header .bold {
   font-weight: bold;
   margin-top: -12px;
}

.gallery p {
   color: white;
   background-color: #cc8644;
   position: absolute;
   bottom: 10px;
   right: 10px;
   font-family: "Cardo", serif;
   padding: 1px 5px;
   font-weight: bold;
   font-size: 1.8rem;
   z-index: 30;
}

/* UTILITIES STYLING */
.border-bottom {
   display: inline-block;
   border: 4px solid #cc8655;
   width: 70px;
}

.mright {
   margin-right: 10px;
}

.mt-mb {
   margin-top: 67px !important;
   margin-bottom: 67px !important;
}

/* BANNER STYLING */
.banner {
   display: flex;
   flex-direction: column;
   position: relative;
   height: 380px;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-image: linear-gradient(
         to left,
         rgba(57, 40, 32, 0.4),
         rgba(57, 40, 32, 0.4)
      ),
      url(../img/banner.png);
   background-position: top center;
   background-size: cover;
   width: 100%;
   padding: 10px;
}

.banner h2 {
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
   font-size: 2rem;
   color: #ffffff;
}

.banner p {
   font-family: "Cardo", serif;
   font-style: italic;
   font-weight: normal;
   font-size: 1.8rem;
   color: #ffffff;
}

.banner button {
   color: #ffffff;
   display: inline-block;
   width: 280px;
   height: 85px;
   background: #cc8655;
   font-family: "Cardo", serif;
   border: 2px solid #e4975f;
   font-weight: bold;
   font-size: 1.7rem;
}

.banner button:hover {
   background: #c07f50;
}

/* FOOTER STYLING */
.footer {
   width: 100%;
   height: 450px;
   background: #cc8644;
   flex-direction: column;
   position: relative;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 10px;
   padding-top: 70px;
   padding-bottom: 170px;
   color: white;
   font-family: "Montserrat", sans-serif;
}

.footer h4 {
   display: inline-block;
   font-family: "Montserrat", sans-serif;
   font-weight: 900;
   font-size: 24px;
   letter-spacing: 0.265em;
   border: 4px solid #ffffff;
   box-sizing: border-box;
   padding: 15px 34px;
   width: 150px;
}

.footer__nav {
   display: flex;
   justify-content: center;
   margin-top: 35px;
}

.footer__nav ul {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}

.footer__nav ul li:not(:last-child) {
   margin-right: 18px;
}

.footer__nav ul li a {
   display: inline-block;
   color: white;
   text-decoration: none;
   font-weight: 500;
   font-size: 16px;
}

.footer__nav ul li a:hover {
   color: rgb(236, 227, 227);
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
}

.footer__social {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
   margin-top: 35px;
}

.footer__social a {
   text-decoration: none;
}

.footer__social i {
   color: #cc8644;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   height: 50px;
   z-index: 10;
   background: white;
   width: 50px;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
}

.footer__social i:hover {
   background: rgb(228, 226, 226);
}

.footer__social a:not(:last-child) {
   margin-right: 65px;
}

.footer__copyright {
   margin-top: 35px;
}

.footer__copyright small {
   font-weight: 500;
   letter-spacing: 0.8px;
}

/* MEDIA QUERIES */
@media (max-width: 590px) {
   .header {
      padding: 5px;
   }

   .header__nav {
      flex-direction: column;
   }

   .header__nav h4 {
      margin-right: 0;
      margin: auto;
      margin-bottom: 20px;
   }

   .header__nav ul {
      margin-top: 15px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
   }

   .header__nav ul {
      width: 100%;
   }
}

@media (max-width: 540px) {
   .banner button {
      font-size: 24px;
      width: 90%;
   }

   .footer {
      height: 650px;
   }

   .footer__social a:not(:last-child) {
      margin-right: 30px !important;
      margin-bottom: 10px;
   }

   .footer__nav ul {
      flex-direction: column;
   }

   .footer__nav ul li {
      text-align: center;
      margin-right: 5px !important;
      margin-bottom: 10px;
   }
}

@media (max-width: 455px) {
   .gallery p {
      left: 5px;
      width: 130px;
      padding: 0;
      font-size: 25px;
   }
}

@media (max-width: 410px) {
   .footer__social a:not(:last-child) {
      margin-right: 5px !important;
   }
}

@media (max-width: 320px) {
   h1 {
      font-size: 3rem !important;
   }

   h2 {
      font-size: 1.8rem !important;
   }
}
